*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

/* navigation bar= upper part of website  */
/* for navigation bar */

#navbar{
    
    display: flex;
    align-items: center;
     position: absolute; /*to reach image to navbar  */

}

/* navigation bar:  Logo and image */
#logo{
    margin: 10px,5px;
}
#logo img{
     height: 80px; /* for logo size */
    margin: 10px,5px;
}

/* navigation bar: home, contact shifted into straight */
#navbar ul{
     display: flex; /*to straight the home  */
    padding: 20px;
   
   


}
#navbar ul li{
   
     list-style: none; /* where navbar  home,service are written ,to remove the point */
   font-size: 1.1rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 15px;
    border-radius: 20px;
     text-decoration: none; /* to remove home ,service's below lines  */
    

}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    
    

}

/* navigation bar ,upper part of website */
#navbar::before{
 content: "";
 background-color: black;
 position: absolute;
 height: -100%;
 width: 100%;
 top: 0px;
 left: 0px;
z-index: -1; /*black part's upper old contain */
opacity: .4; /* to dim the black colour */
}
  /* Just below part of navbar  "welcome to my" */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 498px;;  /*"welcome to my online.."  height */
    justify-content: center;
     align-items: center; /*"welcome to my online.." to arrange in mid */

}

#home::before{

    content: "";
 background:url('../bg.jpg') no-repeat center center/cover ;  /*navbar and just below photos of navbar, no reptaion of image */
 position: absolute;
 height: 71%;
 width: 100%;
 top: 0px;
 left: 0px;
z-index: -1; /*for upper part of black part */
opacity: .89; 

}

/*"welcome to my online.." for customization */

#home h1{
    color: white;
    text-align: center;
    font-family: 'Zilla Slab Highlight', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-family:  'Baloo 2', cursive;
}

/* Utility class */
.centre{
    text-align: center;
}

.h-primary{
    font-size: 1.9rem; /*welcome;s size */
    padding: 12px;
    font-family:  'Baloo 2', cursive;
    color: rgb(28, 180, 250);

}
.h-secodary{
    font-size: 2.3rem; /*welcome's size */
    padding: 12px;
    font-family:  'Baloo 2', cursive;

}

/* styling of order button */
#btn{
    padding: 6px 5px;
    border: 2px solid white;
    background-color: darkorange;
    border-radius: 9px;
    margin: 12px;
    font-size: .9rem;
     cursor: pointer;  /* to create hand */
   
}
#btn:hover{
    
    color: rgb(250, 250, 250);
    background-color: rgb(255, 10, 51);
    
}

/* Services section  */

#service{
    margin: 38px;
    display: flex;
    text-align: center;
   
    

}
#service .box{
    border: 3px solid rgb(255, 0, 0);
    margin: 3px 6px;
    border-radius: 25px;
    background-color: rgb(225, 247, 247);
    
}
#service .box img
{
    height: 100px;
    margin: auto;
    display: block;
    
}
#service .box p{

    font-size: 1.4rem;
    font-family: 'Dancing Script', cursive;

}

/* Client section apple ,microsoft , google*/
#client-section{
    position: relative; /* Required space for image */
    height: 350px;

}

/* our cilent's below background(microsoft,apple,hp  backgrounds) */

#client-section::before{
    content: "";
    position: absolute;
    background: url("../Bg1.jpg");
    height: 83%;
    width: 100%;
    z-index: -1;
    opacity: 1.1;

    
}

#clients{
    /* microsoft,apple ,google All logo's size and position */
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    /* microsoft,apple ,google All logo's size and position */
    height: 125px;
    ;
}
.client-item{
    
    padding: 40px; /* middle space of micrsoft,apple ,google  */


}


/* contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1.5;
    background: url("../1.png") no-repeat center center/cover;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 15px;
    font-size: 1.2rem;
}

#contact-box{
    display: flex;
    justify-content: center;
    text-align: center;
}
#contact-box form{
    width: 40%;
}

/* contact's name ,e-mail,message: styling of handing and coloring */

#contact-box label{
    font-size: 1.8rem;
    color: rgb(32, 32, 32);
    font-family:  'Baloo 2', cursive;



}







/* Styling of footor, below part of website */
footer{
    /* Styling of copyright  */

    background: black;
    color: white;
    padding: 9px 20px;
}
